/*
BLOCK   ELEMENT     MODIFIER

Block -> navigation bar
Elements -> listas, items, links
Modifier -> mouseover
*/
.main-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.main-navbar_li {
    float: left;
}

.main-navbar_li_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.main-navbar_li_a:hover {
    background-color: #111;
}

.main-navbar_li_a-home {
    color: #ff4040;
}